$button-colour: gold

.App
  margin: 0 auto
  max-width: 38.5em

  h1
    text-align: center
    letter-spacing: 0.05em
    font-size: 3em
    margin-bottom: 0

  header
    margin-bottom: 1em

  section
    background: white
    padding: 0.5em

    @media(min-width: 40em)
      padding: 1em

  $footer-color: #666

  footer
    text-align: center
    color: $footer-color

    a
      color: lighten($footer-color, 10%)

#show-leaderboard
  text-align: center

  button
    background: linear-gradient(to top, $button-colour 0%, lighten($button-colour, 10%) 100%)
    color: black
    border: 0
    padding: 0.3em 1em

    &:hover
      background: linear-gradient(to top, lighten($button-colour, 10%) 0%, lighten($button-colour, 20%) 100%)
